{% extends 'base.html' %}

{% block main_content %}
</head>

<body>
    <h1>
        INTRODUCTION
    </h1>
    <p id="intro">
        User need to operate the character they chose and getting deeper in the dungeon.
        <br>
        We use 'w' 'a' 's' 'd' to move, and click left mouse button to attack, right to use skill. <br>Press 'e' to make interaction with doors.
        <br>
        If you want to pause press p, and press p again to retrieve it.
        <br>
        This map has 3 way for you to explore, and one of these has the boss.
        <br>
        After you kill it, there'll be a door for you to pass to the next floor.
        <br>
        And you can also transport to the centre after you clean all the monster in one branch.
        <br>
        Remember to use that!( it's just in the last room. carefully check it!)
        <br><br>
        Remind: Rolling down to check the instruction.
    </p>
    <p>
        <br>
        For character:
        <br>
        <br>
        <br>
    <h3>knight</h3>
    <br>        <br>
    normal attack
    <br>
    knight waves his sword to make damage to the monsters!
    <br>        <br>
    skill
    <br>
    after he prepares for the skill, he will slash the swords to all the monsters in front of him.
    <br>        <br>
    <h3>warrior</h3>
    <br>        <br>
    normal attack
    <br>
    warrior will shock the ground and make damage to all the monster around and stunned them shortly.
    <br>        <br>
    skill
    <br>
    after a moment, he will be rushing! all the monster on the way will be damaged and get dizzied,
    <br>
    and it'll explode at the end. 
    <br>
    Note: If there's no monster in the room, he will save his energy and refuse to use the skill
    before he calms down.
    <br>        <br>
    <h3>mage</h3>
    <br>        <br>
    normal attack
    <br>
    mage use the fireball to shoot monsters, and it'll explode when it hits the first lucky dog.
    <br>
    Note: Same as warrior, it will save mana when the room has no monsters.
    <br>        <br>
    skill
    <br>
    Mage will specify an area, the monsters inside will take damage every certain time.
    <br>        <br>        <br>
    Note for the game:
    <br>        <br>    
    Before you kill any monster in the room, you are not allowed to leave.
    <br>
    if you think there's bug in detection, please do not move, staying at somewhere, waiting for the monster to <b>fuck you up.</b>
    <br>
    During the feedback, many players tell me it's hard to be aware of the monster which is away from the screen.
    <br>
    but that's where the game is fun. So enjoy!
    <br>
    And also they think this game is difficult. But I do think it is easy after you 'grow up'.

    <br> 
    A nice game should always be playable whatever how the players are good at it. </b>
    But I won't raise the difficulty in this version.       
    <br> 
    Thank you a lot for reading all of this. Let us start!
           <br>    <br>     <br>     <br>     <br> 
    <div></div>    <div></div>    <div></div>


    </p>
</body>

</html>
{% endblock %}