{% extends 'base.html' %}

{% block main_content %}
    </head>
    <body>
        <h1>
            INTRODUCTION
        </h1>
        <p id="intro">
            User need to operate the character they chose and getting deeper in the dungeon.
            <br>
            They use 'w' 'a' 's' 'd' to move, and left mouse button for attacking, right for skill.
            <br>
            If you want to pause press p, and press p again to retrieve it.
            <br>
            G' luck!
        </p>
    </body>
</html>
{% endblock %}