{% extends 'base.html' %}

{% block main_content %}
    </head>
    <body>
        <h1>
            QUOTATION
        </h1>
        <p id="quo"><a href='https://stackoverflow.com/questions/12219802/a-javascript-function-that-returns-the-x-y-points-of-intersection-between-two-ci#answer-68092269'>
            about the intersection of two circles
        </a>
            <br >
            the second answer
            <br>
            <br>
        and that's it! lol</p>
    </body>
</html>
{% endblock %}